@keyframes disappear {
	from {
		transform: rotateX(0deg)
			rotateY(0deg)
			rotateZ(0deg)
			scale(calc(85vmin - 10.5rem / 850px), calc(85vmin - 10.5rem / 850px));
	}
	95% {
		transform: rotateX(2deg)
			rotateY(2deg)
			rotateZ(24deg)
			scale(calc(50vmin - 10.5rem / 850px), calc(50vmin - 10.5rem / 850px));
	}
	50% {
		transform: rotateX(18deg)
			rotateY(-17deg)
			rotateZ(191deg)
			scale(calc(40vmin - 10.5rem / 850px), calc(40vmin - 10.5rem / 850px));

	}
	to {
		transform: rotateX(36deg)
			rotateY(10deg)
			rotateZ(382deg)
			scale(0.005, 0.005);
	}
}

#skip-div {
	display: grid;
	grid-template-rows: auto auto;
}


@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--nord7); }
}

#results-wrapper {
	row-gap: 3rem;
	writing-mode: vertical-lr;
}

#ejected-grid {
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-rows: 1fr 8.5rem;
	margin: 1rem;
}

#ejected {
	animation-delay: 0s;
	animation-name: disappear;
	animation-duration: 6s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	animation-composition: add;
	max-width: calc(100vw - 2rem);
	max-height: calc(100vh - 9rem);
	justify-self: start;
	width: auto;
	display: inline-block;
	overflow: hidden;
}

.wrap {
	font-size: 6rem;
	max-width: 95vw;
	padding: 1rem;
	display: inline-block;
	animation:
		blink-caret .75s step-end infinite;
	overflow: hidden;
	border-bottom: .1em solid var(--nord7);
	letter-spacing: .1em;
	white-space: nowrap;
	justify-self: start;
	width: auto;
}
