@import "nord.css";

input {
background-color: var(--nord1);  
border: 2px var(--nord3) solid;
border-radius: 8px;
padding: 0.5em;
color: var(--nord4) !important;
}

input:focus {
  border: 3px var(--nord3) solid;
  background-color: var(--nord1); 
  outline: none;
}
