@import "/styles/body.css";
@import "/styles/nord.css";
@import "/styles/button.css";

.wrapper {
  display: grid;
  place-items: center;
  height: calc(100% - 50px);
  width: calc(100% - 50px);
  column-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  margin: 25px;
}

.list {
  background-color: var(--nord1);
  border: 2px var(--nord3) solid;
  border-radius: 8px;
  font-size: 3rem;
  padding: 3rem;
}

.player {
  font-size: 2rem;
  font-family: sans-serif;
}

#death {
  color: var(--nord11);
}
